body {
    background: radial-gradient(circle, #ff9966, #ff5e62);
    
}

header {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 10px 20px;
    align-items: center;
    opacity: 90%;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between; 
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex; 
    margin: 20px;
    padding: 0;
}

li {
    display: flex;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 0.9em;
    text-shadow: 1px 1px 5px rgba(82, 81, 81, 0.3);
    margin: 0 1em;
}

#logo {
    width: 100px; 
    height: auto;
    object-fit: contain; 
}

#inside-out {
    width: 100%;
}

section {
    position: absolute;
    background-color: rgb(220, 204, 188);
    font-family: sans-serif;
    font-size: 0.7em;
    border-radius: 10px;
    opacity: 50%;
    padding: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Gentle shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

section:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}
