h1{
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5em;
}

form {
    display:flex;
    flex-direction: column;
    width:15em;
    height: 10em;
    padding-top: 20px;
    margin:auto;
    align-items: center;
    background-color: #ddd;
    padding-bottom: 20px;
}

input {
    width: 12.1em;
    font-size: 1em;
}

select {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 12.5em;
    font-size: 1em;;
}

.transfer-img {
    margin: 10px auto;
    display: flex;
}

button{
    font-size: 20px;
    width: 10em;
    height: 10em;
}

