* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    color: var(--text-color)
}

:root {
    --primary-color: #669bbc; 
    --secondary-color: #c1121f;
    --tertiary-color: #e74c3c;
    --background-color: #fdf0d5; 
    --text-color: #003049; 
}

html body {
    background-color: var(--background-color);
    font-family: "Nunito Sans", sans-serif;
}

.header-custom {
    background-color: var(--primary-color);
}

.header-custom .navbar-text {
    color: #ffff;
}

.header-custom a {
    color: var(--background-color);
}

.btn {
	background:linear-gradient(to bottom, #780000 5%, #e4685d 100%);
	background-color:#780000;
	border-radius:6px;
	border:1px solid #c1121e;
	display:inline-block;
	cursor:pointer;
	color:#fdf0d5;
	font-size:13px;
	padding:10px 18px;
	text-decoration:none;
	text-shadow:0px -1px 31px #780000;
}
.btn:hover {
	background:linear-gradient(to bottom, #e4685d 5%, #780000 100%);
	background-color:#e4685d;

}
.btn:active {
	position:relative;
	top:1px;
}

h1 {
    color: var(--secondary-color);
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
}