* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #ff0000;
}

body {
    position: relative;
    background-color: #000000;
    font-family: "Nunito Sans", sans-serif;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 6.25rem; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    z-index: 20;
}

a {
    font-family: 'MuseoModerno', serif;
}

.logo img {
    max-width: 3.75rem; 
    max-height: 3.75rem; 
    filter: invert(1);
    transition: transform 0.5s ease;
}

.logo:hover img {
    transform: rotate(540deg) scale(1.2);
    transition: transform 0.5s ease;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.nav li {
    list-style-type: none;
}

.nav li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.0625rem; 
    cursor: pointer;
    padding: 0.625rem;
}

.nav li:hover a {
    color: var(--primary);
}

.search {
    position: relative;
    width: 8.125rem; 
    height: 2.5rem; 
    transition: 0.5s;
}

.search:hover {
    width: 18.75rem; 
}

.search input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
    border-radius: 0.25rem; 
    padding: 0 0.625rem 0 0.3125rem; /
}

.search input::placeholder {
    color: #ffffff;
    text-transform: uppercase;
    transform: translateX(0.3125rem); 
    font-weight: 300;
}

.swiper {
    width: 100%;
    height: 100vh;
}

.swiper .swiper-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.swiper .swiper-wrapper .swiper-slide {
    width: 100%;
    height: 100%;
}

.swiper .swiper-wrapper .swiper-slide::before {
    position: absolute;
    content: ""; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}

.swiper .swiper-wrapper .swiper-slide img {
    display: bloc;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.swiper .swiper-wrapper .swiper-slide .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.swiper .swiper-wrapper .swiper-slide .banner img {
    position: absolute;
    max-width: 43.75rem;
    transform: translateX(-50%);
    z-index: 1;
    left: 50%;
}

.swiper .swiper-wrapper .swiper-slide .backscene {
    position: absolute;
    content: "";
    top: 1.25rem; 
}

.banner img {
    z-index: 0;
    max-width: 49.375rem; 
    max-height: 49.375rem; 
    width: 50%;
    height: 50%;
}

.swiper .swiper-wrapper .swiper-slide .banner .left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
    background: none;
    box-shadow: none;
    margin-left: 5rem;
    margin-right: 5rem;
}


.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
    background: none;
}

.fa-solid.fa-caret-left, .fa-solid.fa-caret-right {
    animation: pulse 1s infinite;
    background: none;
    font-size: 3rem;
    color:#ff0000;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.banner .left {
    position: relative;
    z-index: 10;
}

.banner .left .features {
    max-width: 25rem;
    margin-bottom: 6.25rem; 
    padding: 0.3125rem; 
}

.banner .left .features .rating {
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.5625rem; 
}

.banner .left .features .rating .score {
    padding: 0.9375rem; 
    font-size: 1.25rem; 
    font-weight: 400;
    color: var(--primary);
    background: #ffffff;
}

.banner .left .features .content {
    margin-left: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.banner .left .features .pricing {
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.banner .left .features .content h4 {
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}

.banner .left .features .content span {
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: 400;
}

.banner .left .features .content .subtitle {
    color: var(--primary)
}

.banner h1 {
    color: #ffffff;
    font-family: "MuseoModerno", sans-serif;
    font-size: 3.125rem; 
    letter-spacing: 0.05625rem;
    z-index: 10;
    text-transform: uppercase;
}

.login-button {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: transparent;
    color: #fff;
    border-radius: 0.5rem;
    transition: 0.5s;
    text-transform: uppercase;
}

.login-button:hover{
    background-color: #ff0000;
    color: #fff;
}

.swiper .swiper-wrapper .swiper-slide .banner .right {
    position: relative;
    height: 100vh;
    max-width: 28.125rem; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    z-index: 100;
}

.banner .right .description {
    margin-top: 7rem; 
    padding: 1.875rem 3.75rem 0 0;
    color: #ffffff;
}

.banner .right .description li {
    list-style: none;
}

.banner .right .description h4 {
    font-family: "MuseoModerno";
    display: inline-block;
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.0625rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner .right .description p {
    margin: 5px 0 25px 30px;
    font-weight: 300;
}

.banner .right h2 {
    color: #ffffff;
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 400;
    text-align: right;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
}

.banner .right iframe {
    max-width: 28.125rem; 
    max-height: 15.625rem; 
}

.character {
    margin-top: 13rem;
    position: relative;
    z-index: 3;
}
