* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #ff0000;
}

body {
    position: relative;
    background-color: #000000;
    font-family: "Nunito Sans", sans-serif;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 6.25rem; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    z-index: 20;
}

a {
    font-family: 'MuseoModerno', serif;
}

.logo img {
    max-width: 3.75rem; 
    max-height: 3.75rem; 
    filter: invert(1);
    transition: transform 0.5s ease;
}

.logo:hover img {
    transform: rotate(540deg) scale(1.2);
    transition: transform 0.5s ease;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.nav li {
    list-style-type: none;
}

.nav li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.0625rem; 
    cursor: pointer;
    padding: 0.625rem;
}

.nav li:hover a {
    color: var(--primary);
}

.search {
    position: relative;
    width: 8.125rem; 
    height: 2.5rem; 
    transition: 0.5s;
}

.search:hover {
    width: 18.75rem; 
}

.search input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
    border-radius: 0.25rem; 
    padding: 0 0.625rem 0 0.3125rem; 
    font-family: 'Nunito Sans', sans-serif;
}

.search input::placeholder {
    color: #ffffff;
    text-transform: uppercase;
    transform: translateX(0.3125rem); 
    font-weight: 300;
}

.swiper {
    width: 100%;
    height: 100vh;
}

.swiper .swiper-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.swiper .swiper-wrapper .swiper-slide {
    width: 100%;
    height: 100%;
}

.swiper .swiper-wrapper .swiper-slide::before {
    position: absolute;
    content: ""; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}

.swiper .swiper-wrapper .swiper-slide img {
    display: bloc;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.swiper .swiper-wrapper .swiper-slide .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.swiper .swiper-wrapper .swiper-slide .banner img {
    position: absolute;
    max-width: 43.75rem;
    transform: translateX(-50%);
    z-index: 1;
    left: 50%;
}

.swiper .swiper-wrapper .swiper-slide .backscene {
    position: absolute;
    content: "";
    top: 1.25rem; 
}

.banner img {
    z-index: 0;
    max-width: 49.375rem; 
    max-height: 49.375rem; 
    width: 50%;
    height: 50%;
}

.swiper .swiper-wrapper .swiper-slide .banner .left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
    background: none;
    box-shadow: none;
    margin-left: 5rem;
    margin-right: 5rem;
    border: 0px;
}


.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
    background: none;
}

.fa-solid.fa-caret-left, .fa-solid.fa-caret-right {
    animation: pulse 1s infinite;
    background: none;
    font-size: 3rem;
    color:#ff0000;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
}

@keyframes border-animation {
    0% {
        clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    }
    25% {
        clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    }
    50% {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%);
    }
    75% {
        clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    100% {
        clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    }
}

.banner .left {
    position: relative;
    z-index: 10;
}

.banner .left .features {
    max-width: 25rem;
    margin-bottom: 6.25rem; 
    padding: 0.3125rem; 
}

.banner .left .features .rating {
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.5625rem; 
}

.banner .left .features .rating .score {
    padding: 0.9375rem; 
    font-size: 1.25rem; 
    font-weight: 400;
    color: var(--primary);
    background: #ffffff;
}

.banner .left .features .content {
    margin-left: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner .left .features .pricing {
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.banner .left .features .content h4 {
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}

.banner .left .features .content span {
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: 400;
}

.banner .left .features .content .subtitle {
    color: var(--primary)
}

.banner h1 {
    color: #ffffff;
    font-family: "MuseoModerno", sans-serif;
    font-size: 3.125rem; 
    letter-spacing: 0.05625rem;
    z-index: 10;
    text-transform: uppercase;
}

.login-button-search-div {
    display: flex;
}

.login-button {
    margin-right: 0.5rem;
    background-color: transparent;
    color: #fff;
    transition: 0.1s;
    text-transform: uppercase;
    animation: pulse 2s infinite ease-in-out;
    transition: transform 0.2s ease-in-out;
    font-family: 'Nunito Sans', sans-serif;
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
    border-radius: 0.25rem; 
    padding: 0 0.625rem 0 0.625rem;
}

.login-button:hover{
    background-color: #ff0000;
    color: #fff;
}

.swiper .swiper-wrapper .swiper-slide .banner .right {
    position: relative;
    height: 100vh;
    max-width: 28.125rem; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    z-index: 100;
}

.banner .left .features .pricing .buy-button {
    padding: 0.9375rem; 
    font-size: 1.25rem; 
    font-weight: 400;
    color: var(--primary);
    background: #ffffff;
    animation: pulse 2s infinite ease-in-out;
    transition: transform 0.2s ease-in-out;
}

.banner .left .features .pricing .buy-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--primary); 
    box-sizing: border-box;
    animation: border-animation 3s linear infinite;
}

.banner .left .features .pricing .buy-button:hover {
    padding: 0.9375rem; 
    font-size: 1.25rem; 
    font-weight: 400;
    color: #ffffff;
    border: 2px solid #ffffff; 
    background: #ff0000;
}

.banner .right .release-modes .dategamepad-icon {
    padding: 0.9375rem; 
    font-size: 1.25rem; 
    font-weight: 400;
    color: var(--primary);
    background: #ffffff;
    display: flex;
    align-items: center;
}

.banner .right .release-modes {
    margin-top: 10rem;
}

.banner .right .release-modes .dates {
    display:flex;
    margin-bottom: 2rem;
}

.banner .right .release-modes .playing-modes {
    display:flex;
}

.banner .right .release-modes .content {
    margin-left: 1rem;
}

h4 {
    font-family: "MuseoModerno";
    display: inline-block;
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.0625rem;
    display: flex;
    color: #ffffff;
}


h2 {
    color: #ffffff;
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 400;
    text-align: right;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
}

p {
    font-family: 'Nunito Sans', sans-serif;
    color: #ffffff;
}

.banner .right iframe {
    max-width: 28.125rem; 
    max-height: 15.625rem; 
}

.character {
    margin-top: 13rem;
    position: relative;
    z-index: 3;
}

.trailer {
    margin-top: 2rem;
}

.trailer h2 {
    margin-top: 0;
    font-size: 1rem;
    font-family: 'Nunito Sans', sans-serif;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 2rem;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    
}

.close-button {
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    color: #333;
}

@media (max-width: 768px) { /* tablets */

    .swiper-wrapper {
        margin: 3rem;
        box-sizing: border-box;
    }

    header {
        padding: 1rem; 
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }

    nav {
        margin-bottom: 0.7rem;
    }
    
    .logo img {
        max-width: 2.5rem; 
        max-height: 2.5rem;
    }

    .nav {
        width: 100%;
        justify-content: center; 
        margin-top: 1rem;
    }

    .nav li a {
        padding: 0.5rem; 
        font-size: 0.9rem;
    }

    .search {
        width: 6rem;
    }

    .search:hover {
        width: 12rem;
    }
    
    .swiper .swiper-wrapper .swiper-slide .banner img {
        position: absolute;
        max-width: 43.75rem;
        transform: translateX(-50%);
        z-index: 0;
        left: 50%;
        width: 100%;
    }

    .character {
        width: 100%;
    }

    .release-modes {
        width: 70%;
        margin-bottom: 5rem;
    }

    .banner .left .features {
        margin-bottom: 20rem;
    }
}

@media (max-width: 480px) { 

    .swiper-wrapper {
        margin: 1rem;
        box-sizing: border-box;
    }

    header {
        padding: 0.8rem; 
        flex-direction: column; 
        align-items: center;
    }

    nav {
        margin-bottom: 0.7rem;
    }

    p {
        font-size: 0.700rem;
    }

    h4 {
        font-size: 0.800em;
    }

    .logo img {
        margin-top: 1rem;
        max-width: 2rem; 
        max-height: 2rem;
    }

    .nav {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        margin-top: 0.5rem;
    }

    .nav li a {
        padding: 0.4rem;
        font-size: 0.8rem; 
        text-align: center;
    }

    .search {
        width: 5rem; 
    }

    .swiper .swiper-wrapper .swiper-slide .banner img {
        max-width: 90%;
        height: auto;
    }

    .banner .left .features .rating {
        margin-bottom: 1rem;
    }

    .banner .left .features .content h4 {
        font-size: 0.800rem;
    }

    .banner .left .features .content .subtitle {
        white-space: nowrap;
    }

    .banner h1 {
        font-size: 1.5rem; /* Ajustando a fonte para tela menor */
        margin-left: 1rem;
    }

    /* Ajustando o layout para flexbox e responsividade */
    .banner {
        display: flex;
        flex-wrap: wrap; /* Permite que o conteúdo se ajuste de forma flexível */
        justify-content: space-between; /* Distribui os itens de forma equilibrada */
    }

    .banner .left, .banner .right {
        flex: 1 1 45%; /* Cada lado ocupa até 45% da largura disponível */
        box-sizing: border-box; /* Para que padding não afete a largura total */
    }

    /* Ajustando a parte direita */
    .banner .right {
        margin-top: 1rem;
        padding-right: 1rem; /* Ajuste no padding para evitar transbordamento */
    }

    .banner .right .release-modes {
        width: 100%; 
        max-width: 100%;
        margin-top: 12rem;
        padding: 0.5rem; 
        box-sizing: border-box;
    }

    .banner .right iframe {
        max-width: 100%;
        max-height: 10rem;
    }

    .modal-content {
        width: 90%; 
    }

    .swiper .swiper-wrapper .swiper-slide .banner-img {
        height: 100%;
        object-fit: cover;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
        background: none;
        box-shadow: none;
        margin-left: 1rem;
        margin-right: 1rem;
        border: 0px;
    }

    .banner .left .features {
        max-width: 20rem; 
        margin-top: 6.25rem;
        margin-left: 1rem;
        padding: 0.3125rem; 
    }

    .trailer {
        margin-right: 1rem;
    }

}
