* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #eae7e7;
}

header {
    padding: 2rem;
    margin-bottom: 3rem;
    box-shadow: 0 3px 20px #939393;
}

form {
    margin: 3rem;
}

.form-input {
    border: 1px solid rgb(138, 138, 138);
    border-radius: 0.3rem;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.error-message {
    color: red;
    display: none;
    margin-top: 0.5rem;
}

#street {
    width:19rem;
}

#neighborhood {
    width: 19rem;
}

.form-input:focus {
    border: 2px solid lightseagreen;
    outline: none;
}

.form-input:valid {
    border: 1px solid rgb(138, 138, 138);
    outline: none;
    background-color: rgb(207, 207, 207);
}